body {
  background-color: #0a0a33; /* Fallback background color */
  background-image: linear-gradient(40deg, #0a0a33, #0e0a11);
  color: white;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  min-height: 100vh; /* Makes body at least as tall as the viewport */
}
.music-horizontal-scroll {
  position: absolute; /* Position absolutely */
  left: 0; /* Align to left edge */
  top: 0; /* Align to top edge */
  height: 1000px;
  width: 1000px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
}

.music-horizontal-scroll > iframe {
  width: 400px;
  height: 300px;
  transform: rotate(90deg);
  transform-origin: right top;
  padding-inline: 20px;
  margin-bottom: 130px;
  display: block;
}
